header {
  background-color: var(--black);
  width: 100%;
  height: 105px;
  position: sticky;
  top: 0;
  z-index: 999;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
header .container .logo {
  color: var(--white);
  font-size: 1.5rem;
}
header .container .logo .logo__item {
  color: var(--green-500);
}
header .container nav {
  height: 100%;
  display: flex;
}
header .container nav a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  color: var(--white);
  position: relative;
}
header .container nav a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background-color: var(--green-500);
  transition: 0.4s;
}
header .container nav a.active, header .container nav a:hover {
  color: var(--green-500);
}
header .container nav a.active::after, header .container nav a:hover::after {
  width: 100%;
}
header .container nav a + a {
  margin-left: 2rem;
}
header.header-mb {
  display: none;
}
@media (max-width: 767px) {
  header.header-dt {
    display: none;
  }
  header.header-mb {
    display: flex;
    position: sticky;
    justify-content: flex-end;
    padding: 0 20px;
  }
  header.header-mb .hamburguer {
    align-self: center;
    justify-self: flex-end;
    width: 60px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header.header-mb .hamburguer span {
    height: 4px;
    width: 100%;
    background-color: var(--green-500);
  }
  header.header-mb nav {
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.4s ease;
  }
  header.header-mb nav a {
    display: block;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background-color: var(--green-500);
    color: white;
  }
  header.header-mb nav a + a {
    border-top: 1px solid black;
  }
  header.header-mb nav.active {
    transform: translateX(0%);
  }
}

#banner {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .banner__background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
}
#banner img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#banner .banner__content {
  z-index: 99;
}
#banner .banner__content h1 {
  color: var(--white);
  font-size: 4rem;
  text-align: center;
}
#banner .banner__content h1 span {
  color: var(--green-550);
}
#banner .banner__desc {
  margin-top: 20px;
}
#banner .banner__desc p {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  color: var(--white);
}
#banner .banner__desc p + p {
  margin-top: 50px;
}
@media (max-width: 768px) {
  #banner .banner__content h1 {
    font-size: 3rem;
  }
  #banner .banner__desc p {
    font-size: 1rem;
  }
}

#planos {
  height: auto;
  padding: 50px 0 80px;
  background-color: var(--gray-300);
}
#planos .container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
#planos .planos__content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#planos .planos__card {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  transition: 0.4s;
}
#planos .planos__card #line {
  width: 50px;
  margin: 0 auto;
  height: 2px;
  background-color: var(--green-400);
  margin-bottom: 30px;
}
#planos .planos__card h3 {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: bold;
}
#planos .planos__card span {
  font-weight: bold;
  color: var(--gray-500);
  display: inline-block;
  margin: 20px 0 40px;
}
#planos .planos__card > p {
  margin-bottom: 30px;
}
#planos .planos__card > p strong {
  color: var(--green-500);
  font-size: 3rem;
}
#planos .planos__card button {
  padding: 20px 30px;
  background: none;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--green-400);
  color: var(--green-400);
  font-weight: bold;
  transition: 0.4s;
  position: relative;
  display: block;
  font-size: 1rem;
  z-index: 100;
  color: var(--green-400);
  transition: 0.4s;
}
#planos .planos__card button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--green-400);
  transition: 0.4s;
  mix-blend-mode: color;
}
#planos .planos__card button:hover {
  color: var(--black);
}
#planos .planos__card button:hover::before {
  width: 100%;
}
#planos .planos__card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  #planos .planos__content {
    grid-template-columns: 1fr;
  }
}

#comodidades {
  padding: 50px 0 80px;
  height: auto;
}
#comodidades .container {
  display: flex;
  flex-direction: column;
}
#comodidades .container-comodidades {
  width: 100%;
  margin-top: 100px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
#comodidades .container-comodidades > div {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#comodidades .container-comodidades > div i {
  color: var(--green-500);
}
#comodidades .container-comodidades > div h2 {
  margin: 15px 0 30px;
}
#comodidades .container-comodidades > div p {
  color: var(--gray-600);
}
#comodidades .template__card {
  display: none;
}
@media (max-width: 868px) {
  #comodidades .container-comodidades {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  #comodidades .container-comodidades {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 488px) {
  #comodidades .container-comodidades {
    grid-template-columns: 1fr;
  }
  #comodidades .container-comodidades > div {
    padding: 0 10px;
  }
}

#galeria {
  background-color: var(--gray-300);
  height: 100vh;
  padding: 50px 0 100px;
}
#galeria .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;
}
#galeria .container__galeria {
  margin-top: 50px;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 20%;
  gap: 10px;
}
#galeria .container__galeria .img-principal {
  height: 100%;
  overflow: hidden;
}
#galeria .container__galeria .img-principal img {
  width: 100%;
  height: 100%;
}
#galeria .container__galeria .slide-imgs {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}
#galeria .container__galeria .slide-imgs .slide__item {
  flex-shrink: 0;
  width: 25%;
  position: relative;
  cursor: pointer;
}
#galeria .container__galeria .slide-imgs .slide__item img {
  width: 100%;
  height: 100%;
}
#galeria .container__galeria .slide-imgs .slide__item + .slide__item {
  margin-left: 10px;
}
#galeria .container__galeria .slide-imgs .slide__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}
#galeria .container__galeria .slide-imgs .slide__item:hover::after, #galeria .container__galeria .slide-imgs .slide__item.active::after {
  background-color: transparent;
}
#galeria .container__galeria .slide-imgs::-webkit-scrollbar {
  height: 8px;
}
#galeria .container__galeria .slide-imgs::-webkit-scrollbar-track {
  background: black;
}
#galeria .container__galeria .slide-imgs::-webkit-scrollbar-thumb {
  background-color: var(--green-500);
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
}

#contato {
  height: 100vh;
  padding: 50px 0 80px;
}
#contato .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;
}
#contato .formulario {
  height: 100%;
  margin-top: 80px;
}
#contato .formulario form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#contato .formulario .form__input.warning {
  border: 1px solid red !important;
}
#contato .formulario label .message__invalid {
  color: red;
  font-size: 0.8rem;
}
#contato .formulario label + label {
  margin-top: 30px;
}
#contato .formulario label:nth-child(3) {
  flex: 1;
}
#contato .formulario textarea {
  height: 100%;
}
#contato .formulario input, #contato .formulario textarea {
  padding: 15px 20px;
}
#contato .formulario input:focus, #contato .formulario textarea:focus {
  outline: 1px solid var(--green-500);
}
#contato .formulario button {
  margin-top: 20px;
  padding: 15px;
  background: var(--green-500);
  border: 1px solid var(--green-500);
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.4s;
}
#contato .formulario button:hover {
  filter: brightness(0.8);
}
#contato .formulario input, #contato .formulario textarea, #contato .formulario button, #contato .formulario label {
  display: block;
  width: 100%;
}
#contato .formulario .message__send {
  color: var(--gray-500);
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  margin: 15px auto;
}
