header {
    background-color: var(--black);
    width: 100%;
    
    height: 105px;
    position: sticky;
    top: 0;
    z-index: 999;

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        .logo {
            color: var(--white);
            font-size: 1.5rem;

            .logo__item {
                color: var(--green-500);
            }
        }


        nav {
            height: 100%;
            display: flex;

            a {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: .4s;

                color: var(--white);
                position: relative;

                &::after {
                    content:'';
                    display: block;
                    position: absolute;

                    left: 0;
                    bottom: 0;

                    width: 0%;
                    height: 4px;
                    background-color: var(--green-500);
                    transition: .4s;
                }

                &.active, &:hover {
                    color: var(--green-500);

                    &::after {
                        width: 100%;
                    }
                }
            }

            a + a {
                margin-left: 2rem;
            }
        }
    }

    &.header-mb {
        display: none;
    }


    @media (max-width: 767px) {
        &.header-dt {
            display: none;
        }

        &.header-mb {
            display: flex;
            position: sticky;

            justify-content: flex-end;

            padding: 0 20px;

            .hamburguer {
             
                align-self: center;
                justify-self: flex-end;

                width: 60px;
                height: 40px;

                // background-color: red;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    height: 4px;
                    width: 100%;
                    background-color: var(--green-500);
                }
            }

            nav {
                position: absolute;
                top: 105px;
                left: 0;
                width: 100%;
                transform: translateX(-100%);

                transition: .4s ease;

                a {
                    display: block;
                    width: 100%;
                    padding: 30px 0;
                    text-align:center;
                    background-color: var(--green-500);
                    color: white;
                }

                a + a {
                    border-top: 1px solid black;
                }

                &.active {
                    transform: translateX(0%);
                }
            }
        }
    }
}

#banner {
    height: 70vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    .banner__background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9;
    }

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }

    .banner__content {
        z-index: 99;


        h1 {
            color: var(--white);
            font-size: 4rem;
            text-align: center;

            span {
                color: var(--green-550);
            }
        }
    }

    .banner__desc {
        margin-top: 20px;
        p {
            font-weight: bold;
            font-size: 1.3rem;

            text-align: center;
            color: var(--white);
        }


        p + p {
            margin-top: 50px;
        }
    }

    @media (max-width: 768px) {
        .banner__content {
            h1 {
                font-size: 3rem;
            }
        }

        .banner__desc {
            p {
                font-size: 1rem;
    
            }
        }
    
    }
}

#planos {
    height: auto;
    padding: 50px 0 80px;
    background-color: var(--gray-300);

    .container {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .planos__content {
        margin-top: 100px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .planos__card {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;

        border: 1px solid #ccc;
        transition: .4s;

        #line {
            width: 50px;
            margin: 0 auto;
            height: 2px;
            background-color: var(--green-400);
            margin-bottom: 30px;
        }

        h3 {
            font-size: 1.5rem;
            color: var(--black);
            font-weight: bold;
        }
        
        span {
            font-weight: bold;
            color: var(--gray-500);
            display: inline-block;
            margin: 20px 0 40px;
        }
        
        > p {
            margin-bottom: 30px;
            strong {
                color: var(--green-500);
                font-size: 3rem;
            }
        }


        button {
            padding: 20px 30px;
            background: none;
            border: none;

            border-radius: 4px;
            border: 1px solid var(--green-400);

            color: var(--green-400);
            font-weight: bold;
            transition: .4s;
            position: relative;
            display: block;

            font-size: 1rem;
            z-index: 100;
            color: var(--green-400);
            transition: .4s;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;

                width: 0%;
                height: 100%;

                background-color: var(--green-400); 
                transition: .4s;
                mix-blend-mode: color;
            }


            &:hover {
                color: var(--black);

                &::before {
                    width: 100%;
                }
            }
        }

        &:hover {
            cursor: pointer;
            transform: translateY(-5px);
            box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.4);

        }
    }

    @media (max-width: 768px) {
        .planos__content {
            grid-template-columns: 1fr;
        }
    }
}

#comodidades {
    padding: 50px 0 80px;
    height: auto;
 

    .container {
        display: flex;
        flex-direction: column;
    }


    .container-comodidades {
        width: 100%;
        // background-color: red;
        margin-top: 100px;
        height: auto;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;


        > div {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;

            i {
                color: var(--green-500);
            }

            h2 {
                margin: 15px 0 30px;
            }

            p {
                color: var(--gray-600);
            }
        }

    }

    .template__card {
        display: none;
    }

    
    @media (max-width: 868px) {
        .container-comodidades {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media (max-width: 768px) {
        .container-comodidades{
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 488px) {
        .container-comodidades{
            grid-template-columns: 1fr;

            > div {
                padding: 0 10px;
            }
        }

        
    }
}


#galeria {
    background-color: var(--gray-300);
    height: 100vh;
    padding: 50px 0 100px;


    .container {
        display: flex;
        flex-direction: column;
        height: 100%;

        padding: 0 10px;
    }

    .container__galeria {
        margin-top: 50px;
        height: 100%;
        display: grid;
        grid-template-rows: 70% 20%;
        gap: 10px;

        .img-principal {
            height: 100%;
            overflow: hidden;

            img {
               width: 100%;
               height: 100%;
            }
        }

        .slide-imgs {
            display: flex;
            overflow-x: scroll;
            padding-bottom: 10px;

            .slide__item {
                flex-shrink: 0;
                width: 25%;
                position: relative; 
                cursor: pointer;


                img {
                    width:100%;
                    height: 100%;
                }

                & + .slide__item {
                    margin-left: 10px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    background-color: rgba(0, 0, 0, 0.7);
                    // filter: brightness(1);

                    transition: .4s;
                }

                &:hover,
                &.active {
                    &::after {
                        background-color: transparent;
                    }
                }
            }

            &::-webkit-scrollbar {
                // width: 5px;
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background: black;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--green-500);    /* color of the scroll thumb */
                border-radius: 10px;       /* roundness of the scroll thumb */
              }
        }
    }

}

#contato {

    height: 100vh;
    padding: 50px 0 80px;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;

        padding: 0 10px;
    }

    .formulario {
        height: 100%;
        margin-top: 80px;
     

        form {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .form__input {
            &.warning {
                border: 1px solid red !important;
            }
            
        }

        label {
            .message__invalid {
                color: red;
                font-size: 0.8rem;
            }
        }

        label + label {
            margin-top: 30px;
        }

        
        label:nth-child(3)  {
            flex: 1;
        }

        textarea {
            height: 100%;
        }

        input, textarea {   
            padding: 15px 20px;

            &:focus{
                outline: 1px solid var(--green-500);
            }

        }

        button {
            margin-top: 20px;
            padding: 15px;


            background: var(--green-500);
            border: 1px solid var(--green-500);
            color: var(--white);
            text-transform: uppercase;
            font-weight: bold;
            transition: .4s;

            &:hover {
                filter: brightness(.8);
            }
        }

        input, textarea, button, label {
            display: block;
            width: 100%;
        }

        .message__send {
            color: var(--gray-500);
            font-size: 1rem;
            display: inline-block;
            text-align: center;
            margin: 15px auto;
        }
    }

}